In [8]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', 30)
pd.set_option('display.max_rows', None)
import warnings
warnings.filterwarnings('ignore')

from sklearn.ensemble import GradientBoostingClassifier

In [9]:
df_train = pd.read_csv('Cleaned Train.csv')
df_train.head()

,ID,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,1,23,12,19114.12,1824.843333,3,4,3,4,3,7,11.27,4,1,809.98,26.822620,1,49.574949,80.415295,3,312.494089,2
1,0x1603,2,23,12,19114.12,1824.843333,3,4,3,4,3,4,11.27,4,1,809.98,31.944960,1,49.574949,118.280222,4,284.629162,2
2,0x1604,3,23,12,19114.12,1824.843333,3,4,3,4,3,7,11.27,4,1,809.98,28.609352,1,49.574949,81.699521,5,331.209863,2
3,0x1605,4,23,12,19114.12,1824.843333,3,4,3,4,5,4,6.27,4,1,809.98,31.377862,1,49.574949,199.458074,6,223.451310,2
4,0x1606,5,23,12,19114.12,1824.843333,3,4,3,4,6,4,11.27,4,1,809.98,24.797347,1,49.574949,41.420153,2,341.489231,2

In [10]:
df_train.set_index('ID', drop=True, inplace=True)

X_train = df_train.drop('Credit_Score', axis=1)
y_train = df_train[['Credit_Score']]
y_train['Credit_Score'] = y_train['Credit_Score'].astype('category')

In [11]:
X_test = pd.read_csv('Cleaned Test.csv', index_col='ID')
X_test.head()

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
ID,,,,,,,,,,,,,,,,,,,,,
0x160a,9,23,12,19114.12,1824.843333,3,4,3,4,3,7,11.27,4,1,809.98,35.030402,1,49.574949,236.642682,6,186.266702
0x160b,10,24,12,19114.12,1824.843333,3,4,3,4,3,9,13.27,4,1,809.98,33.053114,1,49.574949,21.465380,2,361.444004
0x160c,11,24,12,19114.12,1824.843333,3,4,3,4,3,4,12.27,4,1,809.98,33.811894,1,49.574949,148.233938,5,264.675446
0x160d,12,24,12,19114.12,1824.843333,3,4,3,4,4,5,11.27,4,1,809.98,32.430559,1,49.574949,39.082511,2,343.826873
0x1616,9,28,13,34847.84,3037.986667,2,4,6,1,3,1,5.42,5,1,605.03,25.926822,1,18.816215,39.684018,1,485.298434

In [12]:
# Training Gradient Boost Model with best parameters deduced from hypertuning
model = GradientBoostingClassifier(validation_fraction=0.1, n_estimators=200, min_samples_leaf=8, 
                                   max_features=21, max_depth=9, criterion='friedman_mse')

model.fit(X_train, y_train)

GradientBoostingClassifier(max_depth=9, max_features=21, min_samples_leaf=8,
                           n_estimators=200)

In [13]:
pred = model.predict(X_test)
pred

array([2, 2, 2, ..., 0, 0, 0], dtype=int64)

In [17]:
output = pd.DataFrame({'ID': X_test.index, 'Predicted_values': pred})
output.head(10)

       ID  Predicted_values
0  0x160a                 2
1  0x160b                 2
2  0x160c                 2
3  0x160d                 2
4  0x1616                 2
5  0x1617                 2
6  0x1618                 2
7  0x1619                 2
8  0x1622                 2
9  0x1623                 2

In [20]:
output.to_csv('Output.csv', index=True)